body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    height: 100%;
    width: 100%;
}
.navbar{
    width: 60%;
    height: 500px;
    margin-left: 20%;
}
.navbar-nav-expand{
    position: absolute;
    top: 10px;
    left: 0px;
}
.navbar-nav{
    position: absolute;
    top: 50px;
    left: 0px;
    font-family: sans-serif;
    font-size: 20px;
    color: red;
}
.section{
    position: absolute;
    top: 150px;
    left: 21%;

}
.btn{
    position: absolute;
    left: 25%;
    top: 400px;
    padding: 3px;
    border-radius: 5px;
}
.btn1{
    position: absolute;
    left: 21%;
    top: 400px;
    border-radius: 5px;
}